::ng-deep .mat-form-field-outline
{
  background: white;
}

.tag
{
  background: rgba(119, 1, 255, 0.15);
  color: #7701ff;
  padding: 0px 10px;
  font-size: 14px;
  display: inline-block;
  margin-right: 7px;
}
