.mat-card
{
  border-left: 10px solid #ff4e12;
  height: 150px;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

mat-card
{
  cursor: pointer;
  transition: all 200ms linear;

  &:hover
  {
    box-shadow: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px -3px rgba(0,0,0,0.20);
  }
}

.tags .mat-icon {
  font-size: 50px;
}

.text
{
  font-size: 20px;
}

.label
{
  color: #999;
  display: inline-block;
  margin-top: 3px;
  font-size: 12px;
}
