<h1 class="header d-flex justify-content-between">
  <span>
    <button [routerLink]="['/model-detail', idModel]" style="vertical-align: 5px" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
    Разметка текста
  </span>
  <button (click)="save()" [disabled]="saving" mat-raised-button color="primary">Применить изменения</button>
</h1>

<mat-spinner *ngIf="loading" [diameter]="30" [strokeWidth]="2" color="primary"></mat-spinner>

<div *ngIf="!loading" class="row mb-5 pb-5">
  <div class="col-7">
    <app-textinput [text]="text"></app-textinput>
  </div>
  <div class="col-5">
    <app-tagsinput (onChange)="set($event)" [text]="text" [tags]="tags" [modelId]="idModel"></app-tagsinput>
  </div>
</div>
