gensim
psycopg2-binary
-e git+git://github.com/squeaky-pl/japronto.git#egg=japronto
-e git+https://github.com/keras-team/keras-tuner.git@1.0.2rc0#egg=keras-tuner-1.0.2rc0
pymorphy2
autokeras
jupyter
joblib
